[commit]
	template = ~/.gitmessage

[diff]
	renames = copies
	tool = meld
	renamelimit = 1591
[difftool]
	prompt = false
[color]
	status = auto
	branch = auto
[alias]
	logd = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci)%Creset' --abbrev-commit
	logp = log --pretty=format:'%h %s' --abbrev-commit
	amend = commit --amend --no-edit
	st = status
	tlog = log --pretty='%Cred%h %Cblue%ar %Cgreen%an%Creset %s'
	prune-repo = "!git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D #"
	list-files= diff-tree --no-commit-id --name-only -r HEAD
	find =  log -i --grep
        remaster = !git fetch origin master:master && git rebase master
	tfind = log --pretty='%Cred%h %Cblue%ar %Cgreen%an%Creset %s' -i --grep
	fetch-pr = "!git fetch origin refs/pull-requests/$1/from:$2 #"
	tree = log --decorate --oneline --graph --all --topo-order -30
	pr  = "!f() { git fetch ${2:-origin} refs/pull-requests/$1/from:pr/$1 && git checkout pr/$1; } ; f"
	pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
	force = push --force-with-lease
        alias = "!git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | sort | awk '{print $1}'"

[core]
	excludesfile = /usr/lib/mcom-elx-env/gitignore_global
	commentchar = -
	editor = vim
	pager = delta
[delta]
    features = side-by-side
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
[merge]
	tool = meld
[user]
	name = Jesper Hallborg
	email = jesper.hallis@gmail.com
